/***********************************************/
/* Web del Romanticismo                        */
/* css del index                               */
/* Autor: yo                                   */
/* Version: esta                               */
/***********************************************/

/************************ ESTILO GENERAL ***********************/

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
}

/* del borde pa dentro todo es caja */

body {
    font-family: "Figtree", sans-serif;
    background-color: rgb(87, 87, 87);
    /* mas tarde lo replanteo */
    /* por defecto del navegador anulado */
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

/* quitar en un futuro */

/* / quitar en un futuro */

#wrapper {
    background-color: rgb(120, 120, 209);
    width: 75%;
    margin: auto;
    transition: width 1s ease;
}

/************************ HERO SECTION ***********************/

#hero {
    background-image: url("../images/hero-section/herosection.jpg");
    /*coloco foto de fondo */
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    /* para que se corte de los lados */
    height: 100vh;
    position: relative;
}

#titulo {
    font-family: "Poppins", sans-serif;
    font-size: 6vw;
    font-weight: 500;
    width: 100%;
    text-align: justify;
    position: absolute;
    top: 2%;
    left: 5%;
}

/************************ HERO SECTION: opcion 2 color liso y waves ***********************/

#hero2 {
    background-color: #0099ff;
    height: 40vh;
    position: relative;
}

#titulo2 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 8vw;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%) rotateX(0deg);
    transition: transform ease 0.5s;
    border-radius: 50px;
    background: #d2adad;
    box-shadow: 20px 20px 60px #b39393, -20px -20px 60px #f2c7c7;
}

#titulo2:hover {
    transform: translate(-50%, -40%) rotateX(360deg);
}

/************************ HERO SECTION: opcion video ***********************/
#hero3 {
    background-color: #0099ff;
    height: 70vh;
    position: relative;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#titulo3 {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.2vw;
    font-weight: 500;
    top: 76.05%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#titulo3 p {
    padding-bottom: 1%;
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

/************************ HERO SECTION: opcion background cuadraditos ***********************/
#hero4 {
    background-image: url("../images/hero-section/low-poly-grid-haikei.svg");
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    height: 70vh;
    position: relative;
}

#titulo4 {
    font-family: "Poppins", sans-serif;
    font-size: 6vw;
    font-weight: 500;
    width: fit-content;
    transform: translate(-50%);
    padding: 3%;
    text-align: justify;
    position: absolute;
    top: 5%;
    left: 50%;
    background: rgba(255, 255, 255, 0.27);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#titulo4 p {
    text-align: center;
}

/************************ MEDIA QUERYS ***********************/
@media only screen and(width<=900px) {
    /*Todas las excepciones para tablet */
    #wrapper {
        width: 90%;
    }

    #titulo {
        font-size: 7vw;
    }
}

/** TAMAÑO MOVIL **/
@media only screen and(width<=580px) {
    /*Todas las excepciones para móvil */
    #wrapper {
        width: 100%;
    }

    #titulo {
        font-size: 8vw;
        text-align: center;
        left: 0;
    }
}
